/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ribeye&family=Ribeye+Marrow&family=Sacramento&family=Stick+No+Bills&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Navigation Links */

.menu{
overflow: hidden;
background-color: #0a0a0a;
padding: 20px 10px;
}

.menu a{
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    float: right;
    color: #BBC2CC;
}

nav li{
    list-style-type: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
background-color: #6CB4EE;
color: white;
}


/* Homepage*/

#homepage-background{
    background: url('../images/homepage-background.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1080px;
}


#logo{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}


#logo a,h1{
    text-decoration: none;
    font-family: Ribeye, sans-serif;
    font-weight: 300;
    color: #6CB4EE;
    font-size: 200%;
    margin: 0;
    float: left;
    text-align: center;
}


#logo img{
    width: 50px;
}


#menu-window{    
    background-color: rgba(54,69,79, .2);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 10%;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #fada95;
    border-width: 3px;
}

#menu-window a{
    text-decoration: none;
    font-family: "Ribeye Marrow", sans-serif;
    font-size: 140%;
    color: #fada95;
    margin: 0;
}

#menu-window h2{
    text-decoration: none;
    font-family: "Ribeye Marrow", sans-serif;
    font-size: 140%;
    color: #fada95;
    margin: 0;
}

#menu-window-content{   
    width: 50%; 
    height: 50%;
    position: absolute;
    top: 51px;
    left: 51px;
    text-align: center;
}

#menu-window img{
    width: 45%;
}

#menu-window:hover{
    scale: 1.1;
}

#menu-window-content:hover{
    scale: 1.3;
}

#menu-window-content h2:hover{
    color: #03c04a;
}

#menu-window:hover{
    border-style: solid;
    border-color: #03c04a;
    border-width: 5px;
}

#about-window{    
    background-color: rgba(54,69,79, .2);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 40%;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #fada95;
    border-width: 3px;
}

#about-window a{
    text-decoration: none;
    font-family: "Ribeye Marrow", sans-serif;
    font-size: 140%;
    color: #fada95;
    margin: 0;
}

#about-window h2{
    text-decoration: none;
    font-family: "Ribeye Marrow", sans-serif;
    font-size: 140%;
    color: #fada95;
    margin: 0;
}

#about-window-content{   
    width: 50%; 
    height: 50%;
    position: absolute;
    top: 51px;
    left: 51px;
    text-align: center;
}

#about-window img{
    width: 45%;
}

#about-window:hover{
    scale: 1.1;
}

#about-window-content:hover{
    scale: 1.3;
}

#about-window-content h2:hover{
    color: #03c04a;
}

#about-window:hover{
    border-style: solid;
    border-color: #03c04a;
    border-width: 5px;
}

#contact-window{    
    background-color: rgba(54,69,79, .2);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 70%;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #fada95;
    border-width: 3px;
}

#contact-window a{
    text-decoration: none;
    font-family: "Ribeye Marrow", sans-serif;
    font-size: 140%;
    color: #fada95;
    margin: 0;
}

#contact-window h2{
    text-decoration: none;
    font-family: "Ribeye Marrow", sans-serif;
    font-size: 140%;
    color: #fada95;
    margin: 0;
}

#contact-window-content{   
    width: 50%; 
    height: 50%;
    position: absolute;
    top: 51px;
    left: 41px;
    text-align: center;
}

#contact-window img{
    width: 45%;
}

#contact-window:hover{
    scale: 1.1;
}

#contact-window-content:hover{
    scale: 1.3;
}

#contact-window-content h2:hover{
    color: #03c04a;
}

#contact-window:hover{
    border-style: solid;
    border-color: #03c04a;
    border-width: 5px;
}

/* About Us Page */

#about-us-container-1{
    width: 100%;
    height: 600px;
    display: flex;
    gap: 20px 30px;
    padding-top: 10px;
    margin-top: 30px;

}


#about-us-img-container{
    background: url('../images/about-page-side-image.jpg') no-repeat center center; 
    background-size: cover;
    border-radius: 10%;    
    padding: 30px;
    border-style: solid;
    border-color: #DAA520;
    border-width:8px;
    width: 60%;
    height: 600px;
    box-sizing: border-box;   
    position: relative; 
}

#who-are-we{
    width: 40%;
    position: absolute;
    top: 60%;
    left: 40%;
}

#who-are-we h2{
    font-family: "Merriweather", sans-serif;
    color: #F8F0E3;
    font-size: 400%;
    text-align: center;
    margin: auto;
}


#about-us-history{
    width: 40%;
    height: 600px;
}

#about-us-history h2{
    font-family: Merriweather, sans-serif;
    font-size: 300%;
    font-weight: bold;   
    text-align: center;
    margin: 10%;
}

#about-us-history p{
    font-family: Inconsolata, sans-serif;
    font-size: 120%;
    margin: 20px;
}

#about-us-container-2{
    width: 100%;
    height: 2200px;
    display: inline-block;
    padding-top: 10px;
}

#our-quality{
    width: 100%;
}

#about-us-container-2 h2{
    font-family: Merriweather, sans-serif;
    font-size: 200%;
    font-weight: bold;   
    text-align: center;
    padding: 20px;
}

#about-us-container-2 p{
    font-family: Inconsolata, sans-serif;
    font-size: 120%;
    text-align: center;
}

#our-quality > h2{
    font-family: Sacramento, sans-serif;
    font-size: 500%;
    color: #0076CE;
    font-weight: bold;   
    text-align: center;
    margin: 5%;
}

#cow{
    width: 100%;
    height: 400px;
    display: flex;
    margin: 10px 0;
}

#cow-content{
    width: 50%;
}

#cow-img{
    background: url('../images/cow.jpg') no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}

#milking{
    width: 100%;
    height: 400px;
    display: flex;
    left: 15%;
    margin: 10px 0;
}

#milking-content{
    width: 50%;
}

#milking-img {
    background: url('../images/cow_milk.jpg') no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#cream{
    width: 100%;
    height: 400px;
    display: flex;
    margin: 10px 0;
}

#cream-content{
    width: 50%;
}

#cream-img {
    background: url('../images/fresh_cream.jpg') no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#icecream{
    width: 100%;
    height: 400px;
    display: flex;
    margin: 10px 0;
}

#icecream-content{
    width: 50%;
}

#icecream-img {
    background: url('../images/icecream_production.jpg') no-repeat center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.img-container{
    width: 270px;
    height: 270px;
}

.circle-container {
    width: 200px;
    height: 200px;
    padding: 30px; 
    border-style: solid;
    border-color: #111111;
    border-width: 1px;
    border-radius: 50%;
    margin: auto;
}

#cow-layout{
    position: relative;
    padding-left: 0%;
}

#milking-layout{
    position: relative;
    padding-left: 15%;
}

#cream-layout{
    position: relative;
    padding-left: 30%;
}

#icecream-layout{
    position: relative;
    padding-left: 45%;
}

/* Footer */

footer ul {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
}

footer ul li {
    list-style:none;
}

footer ul li a {
    display:block;
    position:relative;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color:#a3d320;
    margin: 0 30px;
    transition:.5s;
}

footer ul li a span {
    position:absolute;
    transition: transform .5s;
}

footer ul li a span:nth-child(1),
footer ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#aeb911;
}

footer ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
}

footer ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
}
  
footer ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
}

footer ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
}
  
footer ul li a span:nth-child(2),
footer ul li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#404040;
}

footer ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
}

footer ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
}

footer ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
}

footer ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
}
  
.facebook:hover {
color: #3b5998;
}
.facebook:hover span { 
background: #3b5998;
}
.twitter:hover {
color: #1da1f2;
}
.twitter:hover span { 
background: #1da1f2;
}
.instagram:hover {
color: #c32aa3;
}
.instagram:hover span { 
background: #c32aa3;
}
.google:hover {
color: #dd4b39;
}
.google:hover span { 
background: #dd4b39;
}
ul li a .twitter {
color: #1da1f2;
}
ul li a:hover:nth-child(3) {
color: #c32aa3;
}
ul li a:hover:nth-child(4) {
color: #dd4b39;
}

.footer-layout{
    overflow: hidden;
    background-color: #0a0a0a;
    padding: 20px 10px;
    position: relative;
}


/* Menu Page */

#menu-heading-background {
    background-image: url('../images/menu-heading-background.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    width: 90%;
    overflow: hidden;
    height: 250px;  
    margin: 70px auto;
    position: relative;
    border-style: double;
    border-width: 10px;
    border-radius: 50%;
    border-color: #DAA520;
    box-sizing: border-box; 
}

#menu-heading-text{
    position: absolute;
    text-align: center; 
    color: #ff4545;
    font-size: 400%;
    font-family: "Ribeye Marrow", sans-serif;
    text-transform: capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#menu-card-container-outerlayout-1{
    width: 90%;
    height: 2200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#menu-card-container{
    width: 100%;
    height: 2200px;
    display: inline-block;
    padding-top: 10px;
}

#menu-card-sub-container-chocolate{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #C4A484;
    margin: 30px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px 50px;
}

#icecream-image-container-chocolate{
    width: 30%;
    height: 200px;
    display: flex;
    background: url('../images/chocolate-icecream.webp') no-repeat center center;
    background-size: cover;
    border-radius: 10%; 
    margin: auto 30px;
    border: #623412;
    border-style: solid;
    border-width: 2px;
}

.icecream-text-container{
    width: 70%;
    height: 300px;
    display: flex;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icecream-text-container h2{
    font-family: "Stick No Bills", sans-serif;
    font-weight: 300;
    color: #0a0a0a;
    margin: 10px;
    font-size: 300%;
}

.icecream-text-container p{
    font-family: Inconsolata, sans-serif;
    font-weight: 300;
    color: #FAF9F6;
    margin: 10px;
    font-size: 200%;
}

#menu-card-sub-container-strawberry{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #f4c2c2;
    margin: 30px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px 15px;
}

#icecream-image-container-strawberry{
    width: 30%;
    height: 200px;
    display: flex;
    background: url('../images/strawberry-icecream.webp') no-repeat center center;
    background-size: cover;
    border-radius: 10%; 
    margin: auto 30px;
    border: #f57f8e;
    border-style: solid;
    border-width: 2px;
}

#menu-card-sub-container-vanilla{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #ffe135;
    margin: 30px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px 50px;
}

#icecream-image-container-vanilla{
    width: 30%;
    height: 200px;
    display: flex;
    background: url('../images/vanilla-icecream.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10%; 
    margin: auto 30px;
    border: #f3e5ab;
    border-style: solid;
    border-width: 2px;
}

#menu-card-sub-container-pistachio{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #A9D39E;
    margin: 30px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px 15px;
}

#icecream-image-container-pistachio{
    width: 30%;
    height: 200px;
    display: flex;
    background: url('../images/pista-icecream.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10%; 
    margin: auto 30px;
    border: #93C572;
    border-style: solid;
    border-width: 2px;
}

#menu-card-sub-container-cherry{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #ffbdbd;
    margin: 30px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px 50px;
}

#icecream-image-container-cherry{
    width: 30%;
    height: 200px;
    display: flex;
    background: url('../images/cherry-icecream.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10%; 
    margin: auto 30px;
    border:  #790604;
    border-style: solid;
    border-width: 2px;
}

#menu-card-sub-container-butterscotch{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #fdd7a2;
    margin: 30px auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px 15px;
}

#icecream-image-container-butterscotch{
    width: 30%;
    height: 200px;
    display: flex;
    background: url('../images/butterscotch-icecream.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10%; 
    margin: auto 30px;
    border:  #E3963E;
    border-style: solid;
    border-width: 2px;
}

/* Contact Us Page*/


#contact-container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: 1000px;
}

#contact-container-left {
width: 45%;
height: 800px;
background-color: rgba(108, 180, 238, 0.8);
border-style: solid;
border-width: 2px;
border-color: #0a0a0a;
border-radius: 15px;
margin: 0 auto;
margin-top: 50px;
}

#contact-us-left {
padding: 20px;
}

#fname,
#lname,
#email,
#newsletter,
#textarea {
    margin: 10px;
    font-size: 170%;
    color: #012615;
}

label {
    width: 140px;
    display: inline-block;
    font-size: 1.25em;
}

input {
    border-radius: 12px;
}

textarea {
    font-family: 'Josefin sans', 'sans-serif';
    padding: 10px;
    border-radius: 15px;
}

#textarea {
    display: block;
    margin: 0 auto; 
}

.submit-button {
    background-color: #0a0a0a;
    color: #6CB4EE;
    font-family: 'Josefin sans', 'sans-serif';
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 15px;
    width: 20%;
    border-radius: 12px;
    display: block; 
    margin: 0 auto;
}

.submit-button:hover {
    color: #a3d320;
    background-color: #0a0a0a;
}

#google-map {
    width: 600px;
    height: 450px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px;
    border-style: solid;
    box-sizing: border-box;  
}

#contact-container-right {
    width: 45%;
    height: 800px;
    background-color: rgba(108, 180, 238, 0.8);
    border-style: solid;
    border-width: 2px;
    border-color: #0a0a0a;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
}

#contact-us-right {
    padding: 20px;
}

#contact-us-right p {
    font-size: 110%;
    color: #012615;
    text-align: center;
}

#address-scoops {
    color: #0a0a0a;
    font-weight: bold;
    font-family: Ribeye, sans-serif;
}

#contact-container h2 {
    font-size: 200%;
}


/* For screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    
#about-us-container-1{
    height: 700px;
}
}

/* For screens size from 992px wide and down */

@media screen and (max-width: 992px) {

#menu-window{    
    position: relative;
    top: 70%;
    left: 15%;
}

#about-window{    
    position: relative;
    top: 70%;
    left: 30%;
}

#contact-window{    
    position: relative;
    top: 70%;
    left: 45%;
}

.menu a {
    float: none;
    display: block;
    text-align: left;
    clear: left;
}

#about-us-container-1{
    height: 900px;    
    display: inline-block;
}

#about-us-img-container{
    width: 90%;
    height: 400px;
    margin: 0 auto;
}
    
#about-us-history{
    width: 100%;
}

#about-us-history h2{
    margin: 7%;
}

#about-us-container-2{
    width: 100%;
    height: 2200px;
}

#who-are-we{
    width: 40%;
    position: absolute;
    top: 40%;
    left: 40%;
}

.icecream-text-container h2{
    font-size: 200%;
}

.icecream-text-container p{
    font-size: 150%;
}

#menu-heading-text{
    font-size: 250%;
}

#milking-layout{
    padding-left: 0%;
}

#cream-layout{
    padding-left: 0%;
}

#icecream-layout{
    padding-left: 0%;
}

#cow{
    justify-content: center;
}

#milking{
    justify-content: center;
}

#cream{
    justify-content: center;
}

#icecream{
    justify-content: center;
}

}

/* For screens size from 750px wide and down */

@media screen and (max-width: 750px) {

#menu-card-container-outerlayout-1{
    height: 4200px;
    width: 80%;
}

#menu-card-container-outerlayout-2{
    width: 90%;
    margin: 0 auto;
}

#menu-card-container{
    height: 4200px;
}

#menu-card-sub-container-chocolate{
    width: 100%;
    height: 600px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-chocolate{
    width: 70%;
    height: 300px;
    margin: 10px auto;
}

.icecream-text-container{
    text-align: center;
    display: inline;
}

.icecream-text-container h2{
    font-size: 200%;
}

.icecream-text-container p{
    font-size: 100%;
}

#menu-card-sub-container-strawberry{
    width: 100%;
    height: 600px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-strawberry{
    width: 70%;
    height: 300px;
    margin: 10px auto;
}

#menu-card-sub-container-vanilla{
    width: 100%;
    height: 600px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-vanilla{
    width: 70%;
    height: 300px;
    margin: 10px auto;
}

#menu-card-sub-container-pistachio{
    width: 100%;
    height: 600px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-pistachio{
    width: 70%;
    height: 300px;
    margin: 10px auto;
}

#menu-card-sub-container-cherry{
    width: 100%;
    height: 600px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-cherry{
    width: 70%;
    height: 300px;
    margin: 10px auto;
}

#menu-card-sub-container-butterscotch{
    width: 100%;
    height: 600px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-butterscotch{
    width: 70%;
    height: 300px;
    margin: 10px auto;
}

}

/* For screens size from 600px wide and down */

@media screen and (max-width: 600px) {


#logo {
    height: 200px;
}

#logo h1{
    font-size: 150%;
}

#menu-window{    
    position: relative;
    top: 30%;
    left: 25%;
    scale: 0.8;
}

#about-window{    
    position: relative;
    top: 30%;
    left: 25%;
    scale: 0.8;
}

#contact-window{    
    position: relative;
    top: 30%;
    left: 25%;
    scale: 0.8;
}

#who-are-we{
    scale: 0.8;
}

#about-us-container-2{
    width: 100%;
    height: 2800px;
}

#cow{
    width: 100%;
    display: inline-block;
    height: 500px;
}

#cow-content{
    width: 100%;
    float: left;
}

.img-container{
    float: left;
    clear: both;
    width: 100%;
    margin: 10px auto;
}

#milking{
    width: 100%;
    display: inline-block;
    height: 600px;
}

#milking-content{
    width: 100%;
    float: left;
}

#cream{
    width: 100%;
    display: inline-block;
    height: 500px;
}

#cream-content{
    width: 100%;
    float: left;
}

#icecream{
    width: 100%;
    display: inline-block;
    height: 600px;
}

#icecream-content{
    width: 100%;
    float: left;
}

}

/* For screens size from 400px wide and down */

@media screen and (max-width: 400px) {

#logo h1{
    font-size: 100%;
}

#menu-window{    
    position: relative;
    top: 30%;
    left: 15%;
    scale: 0.6;
}

#about-window{    
    position: relative;
    top: 10%;
    left: 15%;
    scale: 0.6;
}

#contact-window{    
    position: relative;
    top: 10%;
    left: 15%;
    scale: 0.6;
}

#about-us-container-2{
    height: 3200px;
}

#cow{
    height: 600px;
}

#milking{
    height: 700px;
}

#cream{
    height: 600px;
}

#icecream{
    height: 600px;
}

#menu-card-container-outerlayout-1{
    height: 3600px;
}

#menu-card-container{
    height: 3600px;
}

#menu-card-sub-container-chocolate{
    width: 100%;
    height: 500px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-chocolate{
    width: 70%;
    height: 200px;
    margin: 5px auto;
}

#menu-card-sub-container-strawberry{
    width: 100%;
    height: 500px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-strawberry{
    width: 70%;
    height: 200px;
    margin: 5px auto;
}

#menu-card-sub-container-vanilla{
    width: 100%;
    height: 500px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-vanilla{
    width: 70%;
    height: 200px;
    margin: 5px auto;
}

#menu-card-sub-container-pistachio{
    width: 100%;
    height: 500px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-pistachio{
    width: 70%;
    height: 200px;
    margin: 5px auto;
}

#menu-card-sub-container-cherry{
    width: 100%;
    height: 500px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-cherry{
    width: 70%;
    height: 200px;
    margin: 5px auto;
}

#menu-card-sub-container-butterscotch{
    width: 100%;
    height: 500px;
    display: inline-block;
    justify-content: center;
}

#icecream-image-container-butterscotch{
    width: 70%;
    height: 200px;
    margin: 5px auto;
}

footer ul li a {
    margin: 0 10px;
}

}

/* For screens size from 300px wide and down */

@media screen and (max-width: 300px) {

#homepage-background{
    height: 950px;
}

#menu-window{
    left: 5%;
}

#about-window{
    left: 5%;
}

#contact-window{
    left: 5%;
}

#who-are-we{
    scale: 0.6;
}

#about-us-history h2{
    font-size: 200%;
}

#our-quality > h2{
    font-size: 250%;
}

#cow-layout{
    scale: 0.8;
    padding: 0;
}

#milking-layout{
    scale: 0.8;
    padding: 0;
}

#cream-layout{
    scale: 0.8;
    padding: 0;
}

#icecream-layout{
    scale: 0.8;
    padding: 0;
}

#about-us-container-2{
    height: 2900px;
}

.icecream-text-container h2{
    font-size: 120%;
}

.icecream-text-container p{
    font-size: 90%;
}


footer ul li a {
    margin: 0 5px;
    font-size: 10px;
}

#menu-heading-text{
    font-size: 150%;
}

}

/* For screens size from 250px wide and down */

@media screen and (max-width: 250px) {

.img-container{
    scale: 0.7;
}

}

/* For screens size from 200px wide and down */

@media screen and (max-width: 200px) {

#about-us-container-2{
    height: 3000px;
}

.img-container{
    scale: 0.5;
}

}